doctype html
html
    head
        link(rel="stylesheet" href="styles/main.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        section.first-screen
            div.intro
                div.container 
                    div.header
                        div.first-screen__title
                            div.first-screen__title_rectangle
                                img(src="../img/rectangle.png")
                            div.first-screen__title_name Daisy
                        div.header_logo
                            nav.nav(href="#") ABOUT
                            nav.nav(href="#") PORTFOLIO
                            nav.nav(href="#") SERVICES
                            nav.nav(href="#") CONTACT