doctype html
html
    head
        link(rel="stylesheet" href="styles/main.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        include first-screen.pug
        a(name="receive")
        section.receive 
            div.receive_container.container
                div.receive__title
                    div.receive__title_text 
                        div.receive__title_text_gray WHAT CAN
                        div.receive__title_text_red YOU RECEIVE?
                    div.receive__title_line
                    div.receive__title_discription  Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.      
                div.receive__title_container 
                    div.receive__title_box
                        div.receive__title_box_img
                            img(src="../img/rocket.png")
                        div.receive__title_box_title CLIENTS
                        div.receive__title_box_line
                        div.receive__title_box_discription This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    div.receive__title_box
                        div.receive__title_box_img
                            img(src="../img/computer.png")
                        div.receive__title_box_title BRANDING
                        div.receive__title_box_line
                        div.receive__title_box_discription This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.    
                    div.receive__title_box
                        div.receive__title_box_img
                            img(src="../img/marketing.png")
                        div.receive__title_box_title MARKETING
                        div.receive__title_box_line
                        div.receive__title_box_discription This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    div.receive__title_box
                        div.receive__title_box_img
                            img(src="../img/ADV.png")
                        div.receive__title_box_title ADV.
                        div.receive__title_box_line
                        div.receive__title_box_discription This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.   
                a.receive__slider(href="#expand") 
                        img(src="../img/slidershadow.png") 
        a(name="expand")
        section.expand
            div.towers
                div.container 
                    div.expand__area
                        div.expand__area_square
                            div.area__square_text
                                div.area__square_text_red EXPAND
                                div.area__square_text_gray YOUR BUSINESS
                            div.expand__area_buttom
                                div.expand__area_buttom_area
                                    div.expand__area_buttom_text Join Us
                        a.expand__slider(href="#our-process") 
                            img(src="../img/slider.png")                 
        a(name="our-process")                            
        section.our-process
            div.container.our-process__container 
                div.our-process__title
                    div.our-process__title_text
                        div.our-process__title_text-gray OUR
                        div.our-process__title_text-red PROCESS
                    div.our-process__title_line
                    div.our-process__title_discription Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.              
                div.our-process__step
                    div.our-process__picture
                         img(src="../img/steps.png")
                a.our-process__slider(href="#we-do__container") 
                            img(src="../img/slidershadow.png")    
        section.we-do
                a(name="we-do__container")
                div.we-do__container
                    div.we-do__container_title.container 
                        div.we-do__container_title_text
                            div.we-do__container_title_gray WHAT  DO
                            div.we-do__container_title_red WE  DO?
                        div.we-do__container_title_line
                    div.we-do__container_d-and-i.container             
                        div.we-do__container_discription 
                            div.we-do__container_discription_title
                                div.we-do__container_discription_title-line 
                                div.we-do__container_discription_title-text LANDING PAGES
                            div.we-do__container_discription_text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                            div.we-do__container_discription_buttom  
                                div.we-do__container_discription_buttom-area  
                                    div.we-do__container_discription_buttom-text More details
                        div.we-do__container_img
                            img(src="../img/monik.png")
                    a.we-do__slider(href="#advertising__container") 
                            img(src="../img/slidershadow.png")        
                a(name="advertising__container")            
                div.advertising__container 
                    div.advertising__container_d-and-i.container 
                        div.advertising__container_img
                            img(src="../img/laptop.png")            
                        div.advertising__container_discription 
                            div.advertising__container_discription_title
                                div.advertising__container_discription_title-text ADVERTISING
                                div.advertising__container_discription_title-line
                            div.advertising__container_discription_text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                            div.advertising__container_discription_buttom  
                                div.advertising__container_discription_buttom-area  
                                    div.advertising__container_discription_buttom-text More details
                    a.advertising__slider(href="#marketing__container") 
                            img(src="../img/slidershadow.png")                
                a(name="marketing__container")                     
                div.marketing__container
                    div.marketing__container_d-and-i.container             
                        div.marketing__container_discription 
                            div.marketing__container_discription_title
                                div.marketing__container_discription_title-line 
                                div.marketing__container_discription_title-text MARKETING KIT
                            div.marketing__container_discription_text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                            div.marketing__container_discription_buttom  
                                div.marketing__container_discription_buttom-area  
                                    div.marketing__container_discription_buttom-text More details
                        div.marketing__container_img
                            img(src="../img/magazins.png")
                    a.marketing__slider(href="#portfolio") 
                        img(src="../img/slidershadow.png")   
        a(name="portfolio")
        section.portfolio
            div.container.portfolio-container
                div.portfolio__title 
                    div.portfolio__title_text PORTFOLIO
                    div.portfolio__title_line    
                div.portfolio__menu
                    div.portfolio__menu_line
                    div.portfolio__menu_text
                        h.portfolio__menu_text_all ALL
                        h.portfolio__menu_text_slash /
                        h.portfolio__menu_text_entertainment ENTERTAIMENT
                        h.portfolio__menu_text_slash /
                        h.portfolio__menu_text_sport SPORT
                        h.portfolio__menu_text_slash /
                        h.portfolio__menu_text_business BUSINESS
                        h.portfolio__menu_text_slash /
                        h.portfolio__menu_text_building BUILDING
                    div.portfolio__menu_line
                div.portfolio__pictures 
                    div.portfolio__pictures_bikes
                        div.portfolio__pictures_bikes_shadow                        
                    div.portfolio__pictures_paints
                        div.portfolio__pictures_paints_shadow                        
                    div.portfolio__pictures_bus
                        div.portfolio__pictures_bus_shadow                        
                    div.portfolio__pictures_box
                        div.portfolio__pictures_box_shadow                       
                    div.portfolio__pictures_web 
                        div.portfolio__pictures_web_shadow  
                    div.portfolio__pictures_cars
                        div.portfolio__pictures_cars_shadow
                div.portfolio__area_buttom
                        div.portfolio__area_buttom_area
                            div.portfolio__area_buttom_text I want landing page 
                a.portfolio__slider(href="#our-team") 
                            img(src="../img/slidershadow.png")   
        a(name="our-team")    
        section.our-team
            div.our-team__container.container    
                div.our-team__container_title 
                    div.our-team__container_text
                        div.our-team__container_gray OUR
                        div.our-team__container_red TEAM
                    div.our-team__container_line
            div.our-team__team-container.container
                div.team-container_item  
                        div.team-container_item_img 
                            img(src="../img/Tomothy.png")
                        div.team-container_item_name
                            div.team-container_item_name_red Tomothy 
                            div.team-container_item_name_gray  Bowman
                        div.team-container_item_text Marketing
                        div.team-container_item_network 
                            div.team-container_item_network_twitter
                                img(src="../img/twitter.png")
                            div.team-container_item_network_facebook
                                img(src="../img/facebook.png")
                            div.team-container_item_network_insta
                                img(src="../img/insta.png")
                div.team-container_item  
                        div.team-container_item_img 
                            img(src="../img/steve.png")
                        div.team-container_item_name
                            div.team-container_item_name_red Steve 
                            div.team-container_item_name_gray  Tracy
                        div.team-container_item_text CEO
                        div.team-container_item_network 
                            div.team-container_item_network_twitter
                                img(src="../img/twitter.png")
                            div.team-container_item_network_facebook
                                img(src="../img/facebook.png")
                            div.team-container_item_network_insta
                                img(src="../img/insta.png")  
                div.team-container_item  
                        div.team-container_item_img 
                            img(src="../img/Hellen.png")
                        div.team-container_item_name
                            div.team-container_item_name_red Hellen 
                            div.team-container_item_name_gray  Johns
                        div.team-container_item_text Clients
                        div.team-container_item_network 
                            div.team-container_item_network_twitter
                                img(src="../img/twitter.png")
                            div.team-container_item_network_facebook
                                img(src="../img/facebook.png")
                            div.team-container_item_network_insta
                                img(src="../img/insta.png")     
            div.our-team__slider_container
                a.our-team__slider(href="#testimoials") 
                            img(src="../img/slidershadow.png")
        a(name="testimoials")                    
        section.testimonials                    
            div.testimonials__container.container
                div.testimonials__container_picture
                    img(src="../img/pic.png")
                div.testimonials__container_box
                    div.testimonials__container_box_discription This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    div.testimonials__container_box_img
                        img(src="../img/Alan.png")
                    div.testimonials__container_box_title
                        div.testimonials__container_box_title_name
                            div.testimonials__container_box_title_red Alan
                            div.testimonials__container_box_title_gray Richman
                        div.testimonials__container_box_title_text CEO of Romashka
                div.testimonials__container_bottoms
                    div.testimonials__container_bottoms-slider
                        div.testimonials__container_bottoms-slider_left
                        img(src="../img/slider-left.png")
                        div.testimonials__container_bottoms-slider_right
                        img(src="../img/slider-right.png")
        section.map
            div.map__background 
                img.map__adress_img(src="../img/2-layers.png")
        section.footer 
            div.footer__img  
                div.footer__img_logo 
                    div.footer__img_logo-picture
                        img(src="../img/rectangle-big.png")
                    div.footer__img_logo-title Daisy     
            
