doctype html
html
    head
        link(rel="stylesheet" href="styles/main.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        section.first-screen
            div.intro
                div.container 
                    div.header
                        div.first-screen__logo
                            div.first-screen__logo_rectangle
                                img(src="../img/rectangle.png")
                            div.first-screen__logo_name Daisy
                        div.header_logo
                            nav.nav(href="#") ABOUT
                            nav.nav(href="#") PORTFOLIO
                            nav.nav(href="#") SERVICES
                            nav.nav(href="#") CONTACT
                    div.first-screen__title
                        div.first-screen__title_name
                            div.first-screen__title_line
                            div.first-screen__title_clients CLIENTS 
                            div.first-screen__title_business  IN YOUR BUSINESS
                            div.first-screen__title_line
                        div.first-screen__title_discription Your clients on the internet. Learn how to receive them.
                    div.first-screen__buttom
                        div.first-screen__buttom_area
                             div.first-screen__buttom_text I want clients