doctype html
html
    head
        link(rel="stylesheet" href="styles/main.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        section.first-screen
    
            div.intro
                div.container 
                    div.header
                        div.first-screen__logo
                            div.first-screen__logo_rectangle
                                img(src="../img/rectangle.png")
                            div.first-screen__logo_name Daisy
                        div.header_logo
                            nav.nav(href="#") ABOUT
                            nav.nav(href="#") PORTFOLIO
                            nav.nav(href="#") SERVICES
                            nav.nav(href="#") CONTACT
                    div.first-screen__title
                        div.first-screen__title_name
                            div.first-screen__title_line
                            div.first-screen__title_clients CLIENTS 
                            div.first-screen__title_business  IN YOUR BUSINESS
                            div.first-screen__title_line
                        div.first-screen__title_discription Your clients on the internet. Learn how to receive them.
                    div.first-screen__buttom
                        div.first-screen__buttom_area
                             div.first-screen__buttom_text I want client
        section.receive 
            div.container 
                div.receive__title
                    div.receive__title_text 
                        div.receive__title_text_gray WHAT CAN
                        div.receive__title_text_red YOU RECEIVE?
                    div.receive__title_line
                    div.receive__title_discription  Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.      
                div.receive__title_container 
                    div.receive__title_box
                        div.receive__title_box_img
                            img(src="../img/rocket.png")
                        div.receive__title_box_title CLIENTS
                        div.receive__title_box_line
                        div.receive__title_box_discription This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    div.receive__title_box
                        div.receive__title_box_img
                            img(src="../img/computer.png")
                        div.receive__title_box_title BRANDING
                        div.receive__title_box_line
                        div.receive__title_box_discription This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.    
                    div.receive__title_box
                        div.receive__title_box_img
                            img(src="../img/marketing.png")
                        div.receive__title_box_title MARKETING
                        div.receive__title_box_line
                        div.receive__title_box_discription This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    div.receive__title_box
                        div.receive__title_box_img
                            img(src="../img/ADV.png")
                        div.receive__title_box_title ADV.
                        div.receive__title_box_line
                        div.receive__title_box_discription This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.    